body {
    background-image: url("../images/marvel-background.jpg"); 
    margin-bottom: 10em; 
}  
  
#main-content {
    margin-top: 1em; 
    background-color: black; 
}  

#marvel-header { 
    font-family: 'Marvel', sans-serif; 
    color: white; 
    background-color: red;  
}      
  
.marvel-text {
    font-family: 'Marvel', sans-serif; 
    color: red;  
}  
  
.red-border {
    border-color: red; 
    border-style: groove; 
    border-width: 0.7em;   
}
 
.white-border {
    border: 0.25em dashed white; 
}  

#background-image {
    height: 10em; 
}
 
.game-image {
    width: 8em;  
}

#game-interface {
    display: none; 
}  

#game-text {
    display: none; 
} 

