body {
    background-image: url("../images/marvel-background.jpg"); 
    margin-bottom: 10em; 
}  
  
#main-content {
    margin-top: 1em; 
    background-color: black; 
}  

#background-image {
    height: 6em; 
    width: 40em; 
}

#marvel-header { 
    font-family: 'Marvel', sans-serif; 
    color: white; 
    background-color: red;  
}      
  
.marvel-text {
    font-family: 'Marvel', sans-serif; 
    color: red;  
}  
  
.red-border {
    border-color: red; 
    border-style: groove; 
    border-width: 0.7em;   
}
 
.white-border {
    border: 0.25em dashed white; 
}  

#tracker-image {
    height: 7em;  
    width: 7em; 
}

#game-interface { /* These are the Id's used to maniupulate which div is shown in the top left corner of the game interface screen*/
    display: none; 
}  

#game-text {
    display: none; 
} 

